.main{
height:10%;
width:100%;
background-color:red;
}
.container{
width=100%;
clear:both;
}
.left{
width:20%;
background-color:green;
float:left;
height:70%;
}
.right{
width:80%;
background-color:blue;
float:right;
height:70%;
}
#clear{
clear:both;
}
#footer{
background-color:orange;
height:20%;
}
@media screen and (max-width:400px){
.right{
width:100%;
}
.left{
width:100%;
}
}
}
