.container{
	width:100%;
	clear:both;
}
.left{
	width: 49%;
	background-color: green;
	float: left;
	height: 100%;

}
.right{
	width:49%;
	display: border;
	background-color: yellow;
	float: right;
	height: 100%; 
}
#clear{
	clear: both;
}
@media screen and (max-width: 400px){
	.right{
		width: 100%;

	}
	.left{
		width: 100%;

	}
}


